
body {
  background-image: url("../img/burger-bg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron, .work-area {
  background-color: rgba(211, 211,211, 0.7);
}

.btn-devour {
  /* align */
  position: absolute;
  right: 18px;
}
.work-area {
  border-radius: 5px;
  height: 80vh;
}

.left-side, .right-side {
  height: 80vh;
  overflow-y: auto;
  padding: 10px 12px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
